{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Alufab</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>

	<div class="cont">

  <div class="form" >
   <form method="post" action="{% url 'otpcust' %}">
		{% csrf_token %}
    
      <h1>Password recovery</h1>
      <input type="text"
             class="user"
			 name="email"
             placeholder="E-mail"/>

      <button class="login">Submit</button>
    </form>
  </div>
</div>
</body>
</html>
