{% load static %}
<!DOCTYPE html>
<html lang="en">
<title>Pride AluFab</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=acques Francois Shadow">
    <link href='https://fonts.googleapis.com/css?family=Nosifer' rel='stylesheet'>

<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>




    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand" href="#">Pride AluFab </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#Quote">Get Quote</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#Contact">Contact </a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" target="_blank" href="https://www.google.co.in/maps/place/Pride+Alufab/@16.685992,74.4654188,17z/data=!3m1!4b1!4m5!3m4!1s0x3bc0e27107569f53:0x602757965c219dc3!8m2!3d16.685992!4d74.4676075?hl=en">Get Directions </a>
      </li>
         <li class="nav-item active" style="align:right;">
        <a class="nav-link" href="{% url 'customer_login_'%}">Login</a>
    </ul>
  </div>
</nav>
<div>
<div class='container-fluid ' style="width:70%;height:90%">


  <!-- Header -->
  <div class="page-content" id="showcase">
    <h1 class="w3-jumbo"><b>Pride Fabrication And Aluminium Work</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>
  <br><br>
  <!-- Photo grid (modal) -->


  <!-- Modal for full size images on click-->

  <!-- Services -->
  <div class="page-content" id="services">
    <h1 class="w3-xxxlarge w3-text-red"><b><p>We provide a service that focus on what's best for your home or site</p></b><p ><b>& what's best for you!</p>
    </b>At affordable price*</h1>

    <hr style="width:50px;border:5px solid red" class="w3-round">
    <br><br>
  </div>

  <!-- Designers -->
<h1>About us</h1>
Established in 2009, Pridealufab is the prominent manufacturer of School Bench And Desk, Hospital Equipments, Aluminium Door Partition, Sliding Window, Hinged Door and many more. These metallic products are developed under the supervision of talented engineers. Completely safe to the use and giving complete comfort to the patients and students our products are highly durable. Engineered as per the global norms and guidelines these products have optimum performance for longer life.
  <!-- The Team -->

  <hr style="width:50px;border:5px solid red" class="w3-round">
  <br><br>
  <!-- Contact -->
   <div class="page-content" id="Quote">
    <form class="form_2" action="#">
      <div class="form-row">
        <div class="form-group col-md-4">
      <lable>Name</lable>
      <input type="text" class="form-control"  name="fn" placeholder="Full name">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
     <label for="pn">Phone Number</label>
      <input name="pn" type="tel" class="form-control" placeholder="1234567890" pattern="[0-9]{10}">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
     <label for="pn">Email address</label>
      <input name="email" type="tel" class="form-control" id="pn" placeholder="xyz@abc.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
        </div>
      </div>
       <div class="form-row">
        <div class="form-group col-md-4">
      <label>Address</label>
      <textarea rows="2" name = 'address' cols="50" placeholder="full address"></textarea>
        </div></div>
       <div class="form-row">
       <div class="form-group col-md-4">
      <label>Description of requirements</label>
      <textarea rows="4" cols="50" name="rq" placeholder="full Description"></textarea>
        </div></div>
      <button class="btn btn-dark">Get Quote</button>
    </form>
  </div>
  <div class="page-content" id="Contact">
      <div class="form_2">
    <h1 class="w3-xxxlarge w3-text-red"><b>Contact us</b></h1>

      <br><br>
    <table style="width:100%;"><tr><td style="vertical-align:top">

    <p>Kagwade Mala, Ichalkaranji,</p><p> Maharashtra 416115</p>
      <a href="https://www.google.com/maps/place/Pride+Alufab/@16.6803161,74.4723302,14z/data=!4m12!1m6!3m5!1s0x0:0x602757965c219dc3!2sPride+Alufab!8m2!3d16.685992!4d74.4676075!3m4!1s0x0:0x602757965c219dc3!8m2!3d16.685992!4d74.4676075">Get directions</a>
   </td>
    <td style="vertical-align:top"><b>Phone number</b><p id="p1">094223 53623</p><button class="btn btn-dark" onclick="copyToClipboard('#p1')"> copy number</button><br><br>
</td><td style="vertical-align:top"><p><b>Business hours</b></p>
        <ul>
          <li>Mon:	9:00 AM – 6:00 PM</li>
          <li>Tue:	9:00 AM – 6:00 PM</li>
          <li>Wed:	9:00 AM – 6:00 PM</li>
          <li>Thu:	9:00 AM – 6:00 PM</li>
          <li>Fri:	9:00 AM – 6:00 PM</li>
          <li>Sat:	9:00 AM – 6:00 PM</li>
        </ul>
       </td></tr></table>

</div>
  </div>
</div>
<!-- W3.CSS Container -->
</div>
<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Initialize and add the map
function initMap() {
  // The location of Uluru
  var uluru = {lat: -25.344, lng: 131.036};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 4, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
}
function copyToClipboard(element) {
  var $temp = $("<input>");
  $("body").append($temp);
  $temp.val($(element).text()).select();
  document.execCommand("copy");
  $temp.remove();
}

</script>
<footer>All rights reserved</footer>

</body>

</html>
