{% extends 'home.html' %}
{% block content %}

<div>
<div class="url">
{% if messages %}
                {%for ms in messages%}
                {{ms}}
        {% endfor %}
        {%endif%}
</div>

<div class="form_div">
  <h5>update Employee</h5>
<form class="form_" method="POST" action="{% url 'update_worker_save' i.id%}">
    {%csrf_token%}

    <div class="form-row">
    <div class="form-group col-md-4">
      <label>worker Name</label><br>
     <input name="wn" type="text" class="form-control" id="wn" value="{{i.worker_name}}" required>
    </div>
    <div class="form-group col-md-4">
      <label for="pn">Phone Number</label>
      <input name="pn" type="text" class="form-control" id="pn" value="{{i.phone_number}}" pattern="[0-9]{10}" required>
    </div>
    </div>
        <div class="form-row">
    <div class="form-group col-md-4">
      <label for="ad"> Address </label>
      <input name="ad" type="text" class="form-control" id="ad" value="{{i.Address}}" required>
    </div>
    <div class="form-group col-md-4">
    <label> Work type </label><br>
    <select name="type" required id="type">
  <option value="{{i.worker_type}}" selected>{{i.worker_type}}</option>

  <option value="glass_cutting">Glass Cutting</option>
  <option value="fitting">fitting</option>
  <option value="regular">regular</option>


</select>
    </div>

{% if messages %}
                {%for ms in messages%}
                {{ms}}
        {% endfor %}
        {%endif%}
        </div>

<button type="submit" class="btn btn-primary">Update+</button>
</form>
    </div>
<br>
<br>
<script>

 $('.select2').select2();
</script>

{% endblock %}
