{% extends 'home.html' %}

{% block content %}

    <form  class="form_div" method="POST" action="{% url 'profile' %}">
<h5>Update Employee</h5>
    {%csrf_token%}
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="fn">First Name</label>
      <input name="fn" type="text" class="form-control" id="fn" value="{{obj.first_name}}">
    </div>
    <div class="form-group col-md-6">
      <label for="ln">Last Name</label>
      <input name="ln" type="text" class="form-control" id="ln" value="{{obj.last_name}}">
    </div>
    </div>

    <div class="form-row">
       <div class="form-group col-md-6">
      <label for="email">E-Mail</label>
      <input name="email" type="text" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" id="email" value="{{obj.email}}">
    </div>
     <div class="form-group col-lg-6">
    <label for="pn">Phone Number</label>
      <input name="pn" type="tel" class="form-control" id="pn" value="{{emp.phono}}" pattern="[0-9]{10}">
  </div>
    <div class="form-group col-md-6">
      <label> Designation</label><br>
   <select name="designation" class="drop" required id="id_designation">
 <option value="{{emp.designation}}" selected>---------</option>

 <option value="Manager">Manager</option>

 <option value="Supervisor">Supervisor</option>

 <option value="Admin">Admin</option>

</select>

    </div>

</div>


 <label for="inputAddress">Address</label>
  <div class="form-group">

    <textarea name="inputAddress" rows="8"  cols="40">{{emp.Address}}</textarea>  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label>City</label><br>
     <select id="selUser" name="inputCity">
<option selected value="{{emp.city}}">City</option>
<option>Mumbai</option>
<option>Pune</option>
<option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Goa-</i></font></option>
<option>Panjim/Panaji</option>
<option>Vasco Da Gama</option>
<option>Goa-Other</option>
<option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Karnataka-</i></font></option>
<option>Bengaluru/Bangalore</option>
<option>Belgaum</option>
<option>Bellary</option>
<option>Bidar</option>
<option>Dharwad</option>
<option>Gulbarga</option>
<option>Hubli</option>
<option>Kolar</option>
<option>Mangalore</option>
<option>Mysoru/Mysore</option>
<option>Karnataka-Other</option>
<option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Kerala-</i></font></option>
<option>Calicut</option>
<option>Cochin</option>
<option>Ernakulam</option>
<option>Kannur</option>
<option>Kochi</option>
<option>Kollam</option>
<option>Kottayam</option>
<option>Kozhikode</option>
<option>Palakkad</option>
<option>Palghat</option>
<option>Thrissur</option>
<option>Trivandrum</option>
<option>Kerela-Other</option>
<option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Maharashtra-</i></font></option>
<option>Ahmednagar</option>
<option>Aurangabad</option>
<option>Jalgaon</option>
<option>Kolhapur</option>
<option>Mumbai</option>
<option>Mumbai Suburbs</option>
<option>Nagpur</option>
<option>Nasik</option>
<option>Navi Mumbai</option>
<option>Pune</option>
<option>Solapur</option>
<option>Maharashtra-Other</option>
<option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Other-</i></font></option>
<option>Other</option>
</select>

    </div>
    <div class="form-group col-md-6">
      <label>Payment per day</label>
      <input type="text" name="ppd" value="{{emp.Paymentperday}}">

    </div>
    <div class="form-group col-md-6">
      <label>Still working : </label>
      <input type="radio" id="True" name="work" value="True" required>
    <label for="False">Yes </label>
    <input type="radio" id="False" name="work" value="False" required>
    <label for="female"> No</label><br>

    </div>
      </div>

<button type="submit" class="btn btn-primary">Update</button>
    <div class="form-row">
    <div class="form-group col-md-6">


  </div>
    </div>


</form>
    </div>
<br>
<br>

<script>
 $('.select6').select6();
</script>




{% endblock %}
