{% extends 'home.html' %}
{% block content %}

{% csrf_token %}
<div class="detail_view">
    <h5>Employee Detail</h5>
    {{object}}
    <table class="table table-light table-responsive-sm table-striped table_detail">
        <tr><Th colspan="3">Search : </Th><th colspan="3"><input class="form-control" id="myInput" type="text" placeholder="Search.."></th><th><sub>Search by Id, Name, Type </sub></th></tr>
<tr>
    <th><form method="get" action="{% url 'filterCustomer' %}">date from : <input type="date" name="from"/> to : <input type="date" name="to"/><button type="submit" name="filter" class="btn btn-secondary btn-sm">Filter</button></form></th>
</tr>
    </table>
    <table class="table table-light table-responsive-sm table-striped table_detail" id="myTable">
      <thead>

          <tr>

                <th class="sort">ID</th>
                <th class="sort">Name</th>
                <th class="sort">Worker Type</th>
                <th class="sort">Address</th>
                <th class="sort">Phone Number</th>



            </tr
          </thead>
          <tbody>
            {%for i in obj%}
            <tr>

                <td><label>{{i.id}}</label></td>
                <td><label>{{i.worker_name}}</label></td>
                <td><label>{{i.worker_type}}</label></td>
                <td><label>{{i.Address}}</label></td>
                <td><label>{{i.phone_number}}</label></td>


                  <td><a href="{% url 'WorkerUpdate' i.id%}"><button class="btn btn-sm btn-primary">Edit</button></a></td>


            </tr>
            {%endfor%}
          </tbody>


        </table>
</div>



<br>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

$('.sort').click(function(){
    var table = $(this).parents('table').eq(0)
    var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
    this.asc = !this.asc
    if (!this.asc){rows = rows.reverse()}
    for (var i = 0; i < rows.length; i++){table.append(rows[i])}
})
function comparer(index) {
    return function(a, b) {
        var valA = getCellValue(a, index), valB = getCellValue(b, index)
        return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
    }
}
function getCellValue(row, index){ return $(row).children('td').eq(index).text() }
</script>

{% endblock %}
