{% extends 'home.html' %}
{% block content %}

{% csrf_token %}


<div class="form_div">
  <h5>Update workers</h5>
<form class="form_" method="POST" action="{% url 'updateWork' user.id%}">
    {%csrf_token%}

    <div class="form-row">
    <div class="form-group col-md-4">
      <label>worker Name</label><br>
     <input name="wn" type="text" class="form-control" id="wn" value="{{user.worker_name}}" >
    </div>
    <div class="form-group col-md-4">
      <label for="pn">Phone Number</label>
      <input name="pn" type="text" class="form-control" id="pn" value="{{user.phone_number}}">
    </div>
    </div>
        <div class="form-row">
    <div class="form-group col-md-4">
      <label for="ad"> Address </label>
      <input name="ad" type="text" class="form-control" id="ad" value="{{user.Address}}" >
    </div>
    <div class="form-group col-md-4">
    <label> Work type </label><br>
    <select name="type" required id="type">
  <option value="{{user.worker_type}}" selected>---------</option>

  <option value="glass_cutting">Glass Cutting</option>
  <option value="fitting">fitting</option>
  <option value="regular">regular</option>


</select>
    </div>
        </div>

<button type="submit" class="btn btn-primary">Update</button>
</form>
    </div>

<br>
<br>

{% endblock %}
